<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="clientconfig" type="JabberWPF.ClientConfig, 
                                  JabberWPF" />
  </configSections>

  <clientconfig username="cjra" password="cjra" server="192.0.0.177" serverName="redbox">
  </clientconfig>
  
</configuration>